[bumpversion]
current_version = 0.1.0
commit = True
tag = True

[bumpversion:glob:**/configmap.yaml]
search = app.kubernetes.io/version: {current_version}
replace = app.kubernetes.io/version: {new_version}

[bumpversion:glob:**/deployment.yaml]
search = app.kubernetes.io/version: {current_version}
replace = app.kubernetes.io/version: {new_version}

[bumpversion:glob:**/service.yaml]
search = app.kubernetes.io/version: {current_version}
replace = app.kubernetes.io/version: {new_version}

[bumpversion:part]
major = 0
minor = 1
patch = 2
